.about-page {
  padding-left: 150px;
  padding-right: 100px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;
}

  h1.page-title {
      margin-left: 12px;
      margin-top: 200px;
  }

.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
    }

    .face1 {
        transform: translateZ(100px);
      }
      .face2 {
        transform: rotateY(90deg) translateZ(100px);
      }
      .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
      }
      .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
      }
      .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
      }
      .face6 {
        transform: rotateX(-90deg) translateZ(100px);
      }
}

@keyframes spincube {
    from,
    to {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    33% {
      transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      transform: rotateX(90deg);
    }
}

.prog-cont {
  background-color: hsl(0%, 0%, 18%);
  padding-top: 3px;
  border-radius: 12px;
  margin-bottom: 32px;
  opacity: 0;
  animation: fadeInUp 2s 2s;
  animation-fill-mode: forwards;

  .prog-title {
    margin-top: 20px;
    margin-left: 20px;
    color: #ffd700;
    font-weight: 400;
    font-family: "Coolvetica";
   }
}


.prog-langs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lang-img {
  width: 60px;
  margin-bottom: 22px;
}

.lang-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lang-name {
    font-size: 10px;
  }
}



