.email-icon,
.linkedin-icon {
    opacity: 0.7;
}

.email-icon:hover,
.linkedin-icon:hover {
    opacity: 1;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 375px;
    margin-left: 48px;
    margin-top: 24px;

}

.contact-page {
    a {
        font-size: 120px;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;
        margin-top: 50px;
        margin-right: 48px;
        animation: pulse 1s;
        animation-delay: 1.5s;
    }

}

.contact-form {
    width: 40%;
    height: 100%;
    margin-left: 0;
    position: absolute;
    right: 10%;
    margin-top: -130px;
    

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }

    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #181818;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #181818;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box
    }

    .flat-button {
        color: #ffd700;
        background: 0 0;
        font-size: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float: left;
        border-radius: 4px;

        &:hover {
            background-color: #ffd700;
            color: #023e8a;
            cursor: pointer;
        }

    }
}